# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Databases and results
*.db
results/
data/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db
data.zip
*.zip
data/

